body{
    background: #020024;
}
button{
    size: 20%;
}
@media (max-width:600px){
    .main-card{
        width: 80%;
        height: 10%;
        background-color: #020024;
        margin-top: 20px;
    }
}
@media (min-width:600px) {
    .main-card{
        width: 95%;
        height: auto;
        background-color: #020024;
    }
}